* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

body {
    background-color: #1a1a2e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 4px solid #f5a623;
    border-radius: 8px;
}
